QDRANT_URL=http://192.168.1.13:6333
COLLECTION_NAME=finance_docs
LLM_URL=http://192.168.1.11:8078/v1/chat/completions
EMBEDDING_URL=http://192.168.1.11:8074/encode_text
MAX_TOKENS_BEFORE_MAP_REDUCE=100000
MAX_TOKENS_PER_MAP_CHUNK=50000
LOG_LEVEL=INFO